<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="css.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="function.js" rel="stylesheet"  charset="utf-8"></script>
</head>
<body>
<div class="wrapper">
	<div class="table">
		<div class="row header">
			<div class="cell">
				<a href="#">nachos programming</a>
			</div>
			<div class="cell">
				<a href="#"> 채점결과</a>
			</div>
		</div>
		<div class="row">
			<div class="cell">
				최적화 정도
			</div>
			<div class="cell">
				#
			</div>
		</div>
		<div class="row">
			<div class="cell">
				힌트제공
			</div>
			<div class="cell">
				X
			</div>
		</div>
		<div class="row">
			<div class="cell">
				Maxwell Johnson
			</div>
			<div class="cell">
				26
			</div>
		</div>
		<div class="row">
			<div class="cell">
				마감기한
			</div>
			<div class="cell">
				4월 7일 13:00
			</div>
		</div>
	</div>

	<div class="table">
		<div class="row header">
			<div class="cell">
				<a href="#">종합 설계 1</a>
			</div>
			<div class="cell">
				<a href="#"> 채점결과</a>
			</div>
		</div>
		<div class="row">
			<div class="cell">
				최적화 정도
			</div>
			<div class="cell">
				#
			</div>
		</div>
		<div class="row">
			<div class="cell">
				힌트제공
			</div>
			<div class="cell">
				X
			</div>
		</div>
		<div class="row">
			<div class="cell">
				Maxwell Johnson
			</div>
			<div class="cell">
				26
			</div>
		</div>
		<div class="row">
			<div class="cell">
				마감기한
			</div>
			<div class="cell">
				4월 7일 13:00
			</div>
		</div>
	</div>
</div>


</body>
</html>