{% load static %}

<div class="row">
	<div class="center-block" tabindex="0" id="screen-wrapper"></div>
</div>

<div class="row row-eq-height" id="shell-result">
	<div class="col-md-2 list-group" id="shell-result-btn">
	</div>
	<div class="col-md-10" id="shell-result-table">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">입력</div>
				<pre class="panel-body" id="input-content"></pre>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">출력</div>
				<pre class="panel-body" id="output-contend"></pre>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var buttonList = document.getElementById('shell-result-btn');
	var inputPanel = document.getElementById('input-content');
	var outputPanel = document.getElementById('output-contend');
	var index = 0;

	function makeResult() {
		var button = document.createElement('button');
		button.setAttribute('class', 'list-group-item');
		button.setAttribute('type', 'button');
		button.setAttribute('value', String(index));
		button.innerHTML = String(index + 1);
		button.addEventListener('click', function (event) {
			var clicked = event.target;
			var result = shellResults[clicked.value];

			inputPanel.innerHTML = result.input;
			outputPanel.innerHTML = result.output;
		});
		buttonList.appendChild(button);
		index++;
	}
</script>
<!--TODO: replace less to css-->
<link rel="stylesheet/less" type="text/css" href="{% static "assets/less/online_shell.less" %} ">

<script type="text/javascript" src="{% static 'assets/js/scrollable.termlib.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/reconnecting-websocket.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/interactive_shell_module.js' %}"></script>