{% with codeId='tab1Code' fileId='tab1Input' tab='tab1' %}

	<div class="row">
		<div class="col-md-6 form-group">
			<h3>입력 파일</h3>
			{% include 'component/base_upload_widget.html' with id=fileId %}
		</div>
		<div class="col-md-6 form-group">
			<h3>소스코드</h3>
			{% include 'component/source_upload_widget.html' with id=codeId %}
		</div>
	</div>
	<div class="row">
		<button type="button" class="btn btn-default" id="{{ tab }}-upload-btn">UPLOAD</button>
	</div>
	<script type="text/javascript">
		(function () {
			var uploadBtn = document.getElementById('{{ tab }}-upload-btn');
			uploadBtn.addEventListener('click', function (event) {
				var xhr = new XMLHttpRequest();
				var formData = new FormData();

				formData.append('tabnum', 1);

				{{ codeId }}Object.appendLanguage(formData);
				{{ codeId }}Object.appendFile(formData, 'code');
				{{ fileId }}Object.appendFile(formData, 'input');

				xhr.open('POST', '/problem/files');
				xhr.setRequestHeader('X-CSRFToken', csrf_token[1]);
				xhr.send(formData);
			});
		})();
	</script>

{% endwith %}
