{% with inputId='tab3Input' outputId='tab3Output' tab='tab3' %}

	<h2>입력 파일</h2>
	<div id="input_file_upload2">
		{% include 'component/base_upload_widget.html' with id=inputId %}
	</div>
	<h2>출력 파일</h2>
	<div id="output_file_upload">
		{% include 'component/base_upload_widget.html' with id=outputId %}
	</div>
	<div>
		<button type="button" class="btn btn-default" id="{{ tab }}-upload-btn">UPLOAD</button>
	</div>

	<script type="text/javascript">
		{% block upload_handler %}
			var Upload_files = document.getElementById('{{ tab }}-upload-btn');

			Upload_files.addEventListener('click', function (event) {
				var xhr = new XMLHttpRequest();
				var formData = new FormData();

				formData.append('tabnum', 3);

				{{ inputId }}Object.appendFile(formData, 'input');
				{{ outputId }}Object.appendFile(formData, 'output');

				xhr.open('POST', '/problem/files');
				xhr.setRequestHeader('X-CSRFToken', csrf_token[1]);
				xhr.send(formData);
			});
		{% endblock %}
	</script>

{% endwith %}