{% with codeId='tab1Code' fileId='tab1Input' tab='tab1' %}

	<h2>소스코드</h2>
	<div class="source-code-uploader">
		{% include 'component/source_upload_widget.html' with id=codeId %}
	</div>
	<h2>입력 파일</h2>
	<div id="input_file_upload">
		{% include 'component/base_upload_widget.html' with id=fileId %}
	</div>
	<div>
		<button type="button" class="btn btn-default" id="{{ tab }}-upload-btn">UPLOAD</button>
	</div>

	<script type="text/javascript">
		(function () {
			var Upload_files = document.getElementById('{{ tab }}-upload-btn');

			Upload_files.addEventListener('click', function (event) {
				var xhr = new XMLHttpRequest();
				var formData = new FormData();

				formData.append('tabnum', 1);

				{{ codeId }}Object.appendLanguage(formData);
				{{ codeId }}Object.appendFile(formData, 'code');
				{{ fileId }}Object.appendFile(formData, 'input');

				xhr.open('POST', '/problem/files');
				xhr.setRequestHeader('X-CSRFToken', csrf_token[1]);
				xhr.send(formData);
			});
		})();
	</script>

{% endwith %}