{% extends "AMS/base_2.html" %}

{% load static %}

{% block title %}{{ problem.p_name }}{% endblock %}

{% block content_header %}
    <link rel="stylesheet/less" type="text/css" href="{% static "assets/less/Read.less" %} ">
    <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/dataTables.bootstrap.min.css" %}">
    <script type="text/javascript" src="{% static 'assets/js/dataTables.bootstrap.min.js' %}"></script>
{% endblock %}

{% block aftersubmit_class %} active {% endblock %}

{% block content2 %}
    <div class="content container">
        <table id="problem-info">
            <thead>
            <tr>
                <th>학번</th>
                <th>제출시간</th>
                <th>결과</th>
                <th>언어</th>
                <th>맞은퍼센트</th>
                <th>실행시간</th>
                <th>힌트여부</th>
                <th>시도횟수</th>
            </tr>
            </thead>
            <tbody>
            {% if result %}
                <tr>

                    <td>{{result.record.user}}</td>
                    <td>{{result.record.submit_time}}</td>
                    <td>{% if result.timeout == True %} <font color="red">시간 초과</font>
                        {% elif result.result == False %} <font color="red">틀렸습니다</font>
                        {% else %} <font color="#228b22"> 맞았습니다!!</font>
                    {% endif %}
                    </td>
                    <td>
                        {% if result.record.language == 1 %} C {% endif %}
                        {% if result.record.language == 2 %} C++ {% endif %}
                        {% if result.record.language == 3 %} Java {% endif %}
                        {% if result.record.language == 4 %} Python {% endif %}
                    </td>
                    <td>{{ result.correct_percent }}</td>
                    <td>{{ result.process_time }}ms</td>
                    {% if problem.p_hint_integer != 100 %}

                    {% if problem.p_hint_integer <= result.correct_percent %}
                    <td><button type="button" class="modalButton btn-link" data-toggle="modal" data-p-name="{{ problem.p_name }}"
                                data-src="{% url 'hint' problem.pk result.pk %}"
                                data-target="#myModal" data-video-fullscreen=""> <font color="#191970">힌트</font></button></td>
                    {% else %}
                    <td>힌트없음</td>
                    {% endif %}

                    {% else %}
                    <td>false</td>
                    {% endif %}
                    <td>
                        {% if trycount %}
                        {{ trycount.submit_try }}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {{ content|linebreaks }}
    </div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <iframe class="embed-responsive-item" allowtransparency="true" width="100%" height="500" frameborder="0"></iframe>
                </div>
            </div>
        </div>

    </div>
    <!--
            <div class="modal-footer">
                  <button type="submit" class="btn btn-default" id="submit">제출</button>
            </div>
-->
</div>

<script type="text/javascript">
    function iframeModalOpen(){

        $('.modalButton').on('click', function(e) {

            var src = $(this).attr('data-src');
            var pname = $(this).attr('data-p-name');
            $("#pname").remove()
            $(".modal-header").append('<h2 id="pname"></h2>');
            $("#pname").append(pname);

            $("#myModal iframe").attr({
                'src': src,
            });
        });

        $('#myModal').on('hidden.bs.modal', function(){
            $(this).find('iframe').html("");
            $(this).find('iframe').attr("src", "");
        });
    }

    $(document).ready(function(){
        iframeModalOpen();
        $('.modal-dialog').css('width', '800px');
    });
</script>
{% endblock %}
