{% extends "AMS/base_2.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}답안 제출{% endblock %}

{% block submit_class %}active{% endblock %}

{% block content_header %}
	<script type="text/javascript" src="{% static 'assets/js/classfinder.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/upload.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/upload-widget.js' %}"></script>
	<link rel="stylesheet" href="{% static "assets/css/language_selector.css" %}">
	<link rel="stylesheet/less" type="text/css" href="{% static "assets/less/upload_widget.less" %}">
{% endblock %}

{% block content2 %}
	<div class="content container">
		<form enctype="multipart/form-data" method="post">
			{% csrf_token %}
		
			{% include 'component/source_upload_widget.html' with id="id" %}
			<script>
				document.getElementById("id_language_0").checked = true;
			</script>
			<div>
				<input id="submit_res" type="submit" value="add"/>
			</div>
		</form>
	</div>
{% endblock %}
