{% extends "AMS/header.html" %}

{% load static %}
{% block base_2_header %}
	<link rel="stylesheet/less" type="text/css" href="{% static "assets/less/base_2.less" %} ">
{% endblock %}

{% block content %}
	<div class="nav2-wrapper" role="navigation">
		<nav class="secondMenu">
			<ul>
				<li class="{% block problem_class %}{% endblock %}"><a href="{% url "problem" p_number %}">문제 내용</a></li>
				<li class="{% block submit_class %}{% endblock %}"><a href="{% url "submit" p_number %}">답안 제출</a></li>
                {% if user.is_staff %}
                    <li class="{% block allresult_class %}{% endblock %}"><a href="{% url "all_result" p_number %}">전체 결과</a></li>
                    <li class="{% block change_class %}{% endblock %}"><a href="{% url "problem/update" p_number %}">문제 수정</a></li>
                {% else %}
                    <li class="{% block aftersubmit_class %}{% endblock %}"><a href="{% url "after_submit" p_number %}">최근 결과</a></li>
                    <li class="{% block result_class %}{% endblock %}"><a href="{% url "result" p_number %}">내 결과</a></li>
			    {% endif %}
            </ul>
		</nav>
	</div>


	{% block content2 %}{% endblock %}
{% endblock %}
