{% extends "AMS/header.html" %}

{% load static %}
{% block base_2_header %}
	<link rel="stylesheet/less" type="text/css" href="{% static "assets/less/base_2.less" %} ">
{% endblock %}

{% block content %}
	<div class="nav2-wrapper" role="navigation">
		<nav class="secondMenu">
			<ul>
				<li><a class="{% block problem_class %}{% endblock %}" href="{% url "problem" p_number %}">Problem</a></li>
				<li><a class="{% block submit_class %}{% endblock %}" href="{% url "submit" p_number %}">Submit</a></li>
				<li><a class="{% block result_class %}{% endblock %}" href="#">Result</a></li>
				<li><a class="{% block source_class %}{% endblock %}" href="#">My source</a></li>
			</ul>
		</nav>
	</div>


	{% block content2 %}
	{% endblock %}

{% endblock %}
