{% load static %}

<!DOCTYPE html>

<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">

	<!--TODO Django: title content-->
	<title>{% block title %}{% endblock %}</title>

	<link rel="shortcut icon" href="{% static "assets/img/favicon.ico" %}"/>

	<!-- Jquery -->
	<script type="text/javascript" src="{% static "assets/js/jquery-2.2.4.min.js" %}"></script>
	<!--Bootstrap3-->
	<link rel="stylesheet" href="{% static "bootstrap3/css/bootstrap-theme.min.css" %}">
	<link rel="stylesheet" href="{% static "bootstrap3/css/bootstrap.min.css" %}">
	<script src="{% static "bootstrap3/js/bootstrap.min.js" %}"></script>

	<link rel="stylesheet/less" type="text/css" href="{% static "assets/less/header.less" %}">

	{% block content_header %}{% endblock %}
	{% block base_2_header %}{% endblock %}
</head>

<body>
<header class="nav-wrapper">
	<nav class="nav">
		<ul class="nav-container nav-page">
			<li><a href="{% url 'problem/list' %}" class="nav-item page_anchor {% block problem_list %}{% endblock %}">문제
				목록</a></li>
			{% if user.is_staff %}
				<li><a href="{% url 'problem/add' %}"
					   class="nav-item page_anchor {% block problem_add %}{% endblock %}">문제 출제</a></li>
			{% endif %}
		</ul>

		{% if user.is_authenticated %}
			<ul class="nav-container nav-log-out">
				<li><a href="{% url 'logout' %}" class="nav-item" id="log-out">로그아웃</a></li>
			</ul>
		{% endif %}
	</nav>
</header>

{% block content %}
{% endblock %}

{# just for test #}
<div id="footer" style="background-color: #F5F5F5; height: 200px;"></div>

<script src="{% static "assets/js/less.min.js" %}" type="text/javascript"></script>
</body>

</html>
