{% extends "AMS/header.html" %}

{% load static %}

{% block title %}문제 목록{% endblock %}

{% block problem_list %}active{% endblock %}

{% block content_header %}
	<script type="text/javascript">
		/*
		 get CSRF token that given by django server for security from cookie of this page
		 more info of CSRF in Django:
		 https://docs.djangoproject.com/en/1.9/ref/csrf/
		 */
		var csrf_token = document.cookie.match(/csrftoken=([A-Za-z0-9]+);?/);

		function btn_delete(url) {
			var request = new XMLHttpRequest();

			request.onreadystatechange = function () {
				if (request.readyState == XMLHttpRequest.DONE && request.status == 200) {
					location.reload();
				}
			};

			request.open("DELETE", url, true);
			request.setRequestHeader("X-CSRFToken", csrf_token[1]);
			request.send();
		}

	</script>
	<link rel="stylesheet/less" type="text/css" href="{% static "assets/less/problem_list.less" %} ">
{% endblock %}


{% block content %}
	<div class="container content">
		<section class="list-wrapper" role="main">
			{% if problems %}
				{% for problem in problems %}
					<article class="problem-table">
						<div class="row header">
							<div class="cell">
								<a href="{% url 'problem' problem.pk %}" class="name">{{ problem.p_name }}</a>
							</div>
							<!-- The Modal -->
                            <button type="button" class="modalButton" data-toggle="modal" data-p-name="{{ problem.p_name }}"data-src="{% url 'submit' problem.pk %}" data-target="#myModal" data-video-fullscreen=""> 답안제출 </button>

							<div class="cell">
								<a href="#" class="name"> 채점결과</a>
							</div>
							<div class="cell">
								<button type="button" class="name"
										onclick="btn_delete('{% url 'problem' problem.pk %}');">삭제
								</button>
							</div>
							<div>
								<a href="{% url 'problem/update' problem.pk %}" class="name">수정</a>
							</div>
						</div>
						<div class="row">
							<div class="cell"></div>
							<div class="cell"></div>
							<div class="cell">#</div>
							<div class="cell"></div>
						</div>
						<div class="row">
							<div class="cell"></div>
							<div class="cell"></div>
							<div class="cell">#</div>
							<div class="cell"></div>
						</div>
						<div class="row">
							<div class="cell"></div>
							<div class="cell"></div>
							<div class="cell">#</div>
							<div class="cell"></div>
						</div>
					</article>
				{% endfor %}
			{% endif %}
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                &times;
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <iframe class="embed-responsive-item" allowtransparency="true" width="100%" height="500" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>

                </div>
                <!--
                        <div class="modal-footer">
                              <button type="submit" class="btn btn-default" id="submit">제출</button>
                        </div>
-->
            </div>
		</section>

	</div>
    <script type="text/javascript">
        function iframeModalOpen(){

            $('.modalButton').on('click', function(e) {

                var src = $(this).attr('data-src');
                var pname = $(this).attr('data-p-name');
                $("#pname").remove()
                $(".modal-header").append('<h2 id="pname"></h2>');
                $("#pname").append(pname);

                $("#myModal iframe").attr({
                    'src': src,
                });
            });

            $('#myModal').on('hidden.bs.modal', function(){
                $(this).find('iframe').html("");
                $(this).find('iframe').attr("src", "");
            });
        }

        $(document).ready(function(){
            iframeModalOpen();
            $('.modal-dialog').css('width', '800px');
        });
    </script>
{% endblock %}
