{% extends "AMS/header.html" %}

{% load static %}

{% block title %}문제 제출{% endblock %}

{% block content_header %}

	<!-- Jquery -->
	<script type="text/javascript" src="{% static "assets/js/jquery-2.2.3.min.js" %}"></script>
	<!--Bootstrap3-->
	<link rel="stylesheet" href="{% static "assets/bootstrap3/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "assets/bootstrap3/css/bootstrap-theme.min.css" %}">
	<script src="{% static "assets/bootstrap3/js/bootstrap.min.js" %}"></script>
	<!--CustomCSS-->
	{{ create_form.media.css }}
	<link rel="stylesheet" href="{% static "assets/css/problem_add.css" %}">
	<!--CustomJS-->
	{{ create_form.media.js }}
	<script src="{% static "assets/js/problem_add.js" %}"></script>
{% endblock %}

{% block problem_add %}active{% endblock %}

{% block content %}
	<div class="content container">
		<form enctype="multipart/form-data" method="post">
			{% csrf_token %}
			<div class="p_name">{{create_form.p_name}}</div>
			<div class="date_picker">마감기한{{create_form.p_day_limit}}</div>
			<div class="problem_language">
				<label class="switch-slide">
					{{create_form.p_c_ok}}
					<span class="switch-label" data-on="C on" data-off="C off"></span>
				</label>
				<label class="switch-slide">
					{{create_form.p_cpp_ok}}
					<span class="switch-label" data-on="CPP on" data-off="CPP off"></span>
				</label>
				<label class="switch-slide">
					{{create_form.p_java_ok}}
					<span class="switch-label" data-on="JAVA on" data-off="JAVA off"></span>
				</label>
				<label class="switch-slide">
					{{create_form.p_py_ok}}
					<span class="switch-label" data-on="PYTHON on" data-off="PYTHON off"></span>
				</label>
			</div>
			<div class="p_content">문제내용{{create_form.p_content}}</div>
			<input type="submit" value="add"/>
		</form>
	</div>
{% endblock %}
