{% extends "AMS/header.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}문제 제출{% endblock %}

{% block content_header %}
	<!--CustomCSS-->
	{{ form.media.css }}
	<link rel="stylesheet" href="{% static "assets/css/problem_add.css" %}">
	<link rel="stylesheet" href="{% static "assets/css/language_selector.css" %}">
	<link rel="stylesheet/less" type="text/css" href="{% static "assets/less/upload_widget.less" %}">
	<link rel="stylesheet" href="{% static "assets/css/bootstrap-slider.min.css" %}">
	<!--CustomJS-->
	{{ form.media.js }}
	<script src="{% static 'assets/js/bootstrap-slider.min.js' %}"></script>
	<script type="text/javascript">
		/** prevent to open droped file **/
		window.ondragover = function (e) {
			e.preventDefault();
			return false
		};
		window.ondrop = function (e) {
			e.preventDefault();
			return false
		};
		var inputFiles = 0 ;
		var codeFiles = 0;
		var outputFiles = 0;
	</script>
{% endblock %}

{% block problem_add %}active{% endblock %}

{% block content %}
	<div class="content container">
		<form enctype="multipart/form-data" method="post" id="form-add" onsubmit="return checkUpload()">
			{% csrf_token %}
			<div class="col-md-5">
				<fieldset class="col-md-12 form-group p_name">
					<h2>문제 이름</h2>
					{{ form.p_name|add_class:'form-control input-lg'|attr:'placeholder:Problem Name' }}
				</fieldset>

				<fieldset class="col-md-12 form-group">
					<h2>마감기한</h2>
					{{ form.p_day_limit|add_class:'form-control' }}
				</fieldset>

				<fieldset class="col-md-12 form-group" id="language-wrapper">
					<h2>허용되는 언어</h2>
					<label class="switch-slide">
						{{ form.p_c_ok|add_class:'switch-input' }}
						<span class="switch-label" data-on="C on" data-off="C off"></span>
					</label>
					<label class="switch-slide">
						{{ form.p_cpp_ok|add_class:'switch-input' }}
						<span class="switch-label" data-on="CPP on" data-off="CPP off"></span>
					</label>
					<label class="switch-slide">
						{{ form.p_java_ok|add_class:'switch-input' }}
						<span class="switch-label" data-on="JAVA on" data-off="JAVA off"></span>
					</label>
					<label class="switch-slide">
						{{ form.p_py_ok|add_class:'switch-input' }}
						<span class="switch-label" data-on="PYTHON on" data-off="PYTHON off"></span>
					</label>
					<label class="switch-slide">
						{{ form.p_make_ok|add_class:'switch-input' }}
						<span class="switch-label" data-on="MAKEFILE on" data-off="MAKEFILE off"></span>
					</label>
				</fieldset>

				<fieldset class="col-md-12 form-group" id="hint-wrapper">
					<h2>힌트여부</h2>
					<div class="col-md-12">
						{% render_field form.p_hint_integer data-slider-id='ex1Slider' data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="100" %}
					</div>
					<small id="percent">힌트를 보여주지 않습니다</small>
					<script type="text/javascript">
						var slider = new Slider('#id_p_hint_integer', {
							formatter: function (value) {
								return value + '%';
							}
						});
					</script>
				</fieldset>

                <fieldset class="col-md-12 form-group" id="language-wrapper">
                    <h2>채점시 공백 확인</h2>
                    <label class="switch-slide">
                        {{ form.p_blank_accpet|add_class:'switch-input' }}
                        <span class="switch-label" data-on="공백 검사" data-off="공백 검사 안함"></span>
                    </label>
                </fieldset>
			</div>

			<div class="col-md-7">
				<h2>문제 내용</h2>
				<ul class="nav nav-tabs" role="tablist">
                    <label class="switch-slide">
                        {{ form.p_markdown_ok|add_class:'switch-input' }}
                        <span class="switch-label" data-on="Markdown 사용" data-off="Markdown 사용안함"></span>
                    </label>
					<li class="active"><a data-toggle="tab" href="#editor">텍스트로 작성</a></li>
					<li><a data-toggle="tab" href="#pdf-upload">PDF 업로드</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade in active" id="editor">
						<div id="form-group p_content">
							{{ form.p_content|attr:'rows:18' }}
						</div>
					</div>
					<div class="form-group tab-pane fade" id="pdf-upload">
						<label class="pdfUpload btn btn-primary">
							PDF FILE
							{{ form.p_pdffile|attr:'style:display: none'|add_class:'form-control' }}
						</label>
					</div>
				</div>
			</div>

			<script src="{% static "assets/js/classfinder.js" %}"></script>
			<script src="{% static "assets/js/upload.js" %}"></script>
			<script src="{% static "assets/js/upload-widget.js" %}"></script>
			<div class="col-md-12">
				<h2>입/출력/코드 옵션</h2>
				<ul class="nav nav-tabs">
					<li class="active" id="incode"><a id="input-code-a" data-toggle="tab" href="#input_code">입력+코드</a></li>
					<li id="oncode"><a id="only-code-a" data-toggle="tab" href="#only_code">코드</a></li>
					<li id="inout"><a id="input-output-a" data-toggle="tab" href="#input_output">입력+출력</a></li>
				</ul>
				<div class="tab-content">
					<div id="input_code" class="tab-pane fade in active">
						{% include 'component/upload_tab_1.html' %}
					</div>
					<div id="only_code" class="tab-pane fade">
						{% include 'component/upload_tab_2.html' %}
					</div>
					<div id="input_output" class="tab-pane fade">
						{% include 'component/upload_tab_3.html' %}
					</div>
					<script>
						var a = document.getElementById("input-code-a");
						var b = document.getElementById("only-code-a");
						var c = document.getElementById("tab1Code_language_0");
						c.checked = true;
						a.addEventListener("click", function () {
							var c = document.getElementById("tab1Code_language_0");
							c.checked = true;
						});
						b.addEventListener("click", function () {
							var d = document.getElementById("tab2Code_language_0");
							d.checked = true;
						});
					</script>
				</div>
			</div>

			<div class="col-md-12 form-group text-center">
				<input class="btn btn-primary btn-lg" id="save_problem" type="submit" value="SAVE"/>
				<input class="btn btn-default btn-lg" id="temp_saveproblem" type="submit" value="TEMPORARY SAVE"/>
			</div>
		</form>
	</div>
	<script>
		function checkUpload() {
			var incode = document.getElementById('incode');
			var oncode = document.getElementById('oncode');
			var inout = document.getElementById('inout');

			if (incode.getAttribute('class') == "active") {
				var xhr = new XMLHttpRequest();
				var formData = new FormData();

				formData.append('tabnum', 1);

				if(tab1CodeObject.fileList.length == 0 || tab1InputObject.fileList.length == 0){
					if(tab1CodeObject.fileList.length > 0){
						alert("입력파일을 업로드 하세요");
					}
					else if(tab1InputObject.fileList.length > 0){
						alert("소스코드파일을 업로드 하세요");
					}else{
						alert("입력파일과 소스코드파일을 업로드 하세요");
					}
					return false;
				}

				tab1CodeObject.appendLanguage(formData);
				tab1CodeObject.appendFile(formData, 'code');
				tab1InputObject.appendFile(formData, 'input');

				xhr.open('POST', '/problem/files', false);
				xhr.setRequestHeader('X-CSRFToken', csrf_token[1]);
				xhr.send(formData);

				return true;
			}
			if (inout.getAttribute('class') == "active") {

				var xhr = new XMLHttpRequest();
				var formData = new FormData();

				formData.append('tabnum', 3);

				if(tab3InputObject.fileList.length == 0 || tab3OutputObject.fileList.length == 0){
					if(tab3InputObject.fileList.length > 0){
						alert("출력파일을 업로드 하세요");
					}
					else if(tab3OutputObject.fileList.length > 0){
						alert("입력파일을 업로드 하세요");
					}else{
						alert("입력파일과 출력파일을 업로드 하세요");
					}
					return false;
				}

				tab3InputObject.appendFile(formData, 'input');
				tab3OutputObject.appendFile(formData, 'output');

				xhr.open('POST', '/problem/files', false);
				xhr.setRequestHeader('X-CSRFToken', csrf_token[1]);
				xhr.send(formData);

				return true;
			}
		}

	</script>
{% endblock %}
