{% extends "AMS/base_2.html" %}

{% load staticfiles %}

{% block content_header %}
	<link rel="stylesheet/less" type="text/css" href="{% static "assets/less/Read.less" %} ">
{% endblock %}

{% block problem_class %} active {% endblock %}
{% block content2 %}
	<div class="content container">
		<h1 id="problem-name">{{ problem.p_name }}</h1>
		<table id="problem-info">
			<thead>
			<tr>
				<th>Language</th>
				<th>Deadline</th>
				<th>Standard</th>
				<th>Hint</th>
				<th>#Try</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>
					{% if problem.p_c_ok %}C {% endif %}
					{% if problem.p_cpp_ok %}C++ {% endif %}
					{% if problem.p_java_ok %}Java {% endif %}
					{% if problem.p_py_ok %}Python {% endif %}
				</td>
				<td>{{ problem.p_day_limit }}</td>
				<td></td>
				{% if problem.p_hint_integer != 100 %}
					<td>true</td>
				{% else %}
					<td>false</td>
				{% endif %}
				<td></td>
			</tr>
			</tbody>
		</table>
		<div class="problem-header" id="problem-content">
			<h2 class="header">Problem</h2>
			{{ problem.p_content|safe }}
		</div>
		<div class="problem-header">
			<h2 class="header in">입력 설명</h2>
			<p class="value in">{{ problem.p_input }}</p>
		</div>
		<div class="problem-header">
			<h2 class="header out">출력 설명</h2>
			<p class="value out">{{ problem.p_output }}</p>
		</div>
		<div class="problem-header">
			<h2 class="header inex">입력예제</h2>
			<p class="value inex">{{ problem.p_inputex }}</p>
		</div>
		<div class="problem-header">
			<h2 class="header outex">출력예제</h2>
			<p class="value outex">{{ problem.p_outputex }}</p>
		</div>
	</div>
{% endblock %}
