.secondMenu {
	margin: 0;
	height: 40px;
	width: 100%;
	background-color: lightblue;

	.active {
		color: white;
		background-color: powderblue;
	}

	li {
		list-style: none;
		color: white;
		background-color: lightblue;
		float: left;
		line-height: 40px;
		vertical-align: middle;
		text-align: center;
		text-decoration: none;
		display: block;
		width: 150px;
		font-size: 20px;
		font-weight: bold;
		font-family: "Raleway", sans-serif;

		a {
			text-decoration: none;
			color: #ffffff;
			display: block;
		}

		&:hover {
			 color: white;
			 background-color: powderblue;
		 }
	}
}