body, ul, li, a, div {
  margin: 0;
}

@menu-color: #009688;
@menu-hover-color: #00897B;
@menu-active-color: #26A69A;
@logout-hover-color: #4DB6AC;

#nav-body {

   width: 100%;

  .header {
	background-color: @menu-color;
	height: 60px;

	.nav {
	  margin-right: 40px;
	  display: inline-block;
	  float: right;

	  .page-nav {
		margin-right: 20px;

		a:hover {
		  background-color: @menu-hover-color;
		}
	  }

	  #log-out-ul {
		a:hover {
		  background-color: @logout-hover-color;
		}
	  }

	  ul {
		padding: 0;
		float: left;

		li {
		  float: left;
		  list-style: none;
		  display: block;
		}

		a {
		  padding: 20px;
		  display: block;
		  line-height: 20px;
		  font-size: 18px;
		  text-decoration: none;
		  color: #ffffff;
		}
	  }
	}
  }
}
