body, ul, li, a, div {
	margin: 0;
}

@menu-color: #009688;
@menu-hover-color: #26A69A;
@menu-active-color: #00897B;
@logout-hover-color: #F44336;

body {
	width: 100%;

	.nav-wrapper {
		background-color: @menu-color;
		height: 60px;

		.nav {
			margin-right: 3%;
			float: right;

			.nav-container {
				padding: 0;
				float: left;

				li {
					float: left;
					list-style: none;
					display: block;

					.nav-item {
						padding: 20px;
						display: block;
						line-height: 20px;
						font-size: 18px;
						text-decoration: none;
						color: #ffffff;
					}

					.active {
						background-color: @menu-active-color;
					}
				}
			}

			.nav-page {
				margin-right: 20px;

				a:hover {
					background-color: @menu-hover-color;
				}
			}

			.nav-log-out {
				a:hover {
					background-color: @logout-hover-color;
				}
			}
		}
	}
}