@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

body, ul, li, a, div {
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
}

#screen-wrapper {
	color: #bcbcbc;
	background: none;
	font-size: 1.4em;
	font-family: 'Nanum Gothic Coding', serif;
}

#user-input {
	margin: 5px;
	padding: 0;
	font-size: 8em;
	height: 100%;
	border: none transparent;
	font-family: 'Nanum Gothic Coding', serif;
	-webkit-appearance: none;
	box-shadow: none !important;

	&:focus {
		outline: none;
	}

}

.term {
	font-family: 'Nanum Gothic Coding', serif;
	font-size: 5em;
	color: #bcbcbc;
	background: none;
}

.termReverse {
	color: #232e45;
	background: #bcbcbc;
}