@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

#screen-wrapper {
	font-size: 1.2em;
	color: #bcbcbc;
	background: none;
	font-family: 'Nanum Gothic Coding', serif;
	overflow-x: hidden;
	overflow-y: scroll;
	display: inline-block;
	width: fit-content;
	line-height: 1;
	outline: none;
	margin-bottom: 20px;

	#inner-table {
		margin: 3px;
	}

	.center-block
}

#shell-result {
	height: 270px;

	pre {
		margin: 0;

		&:before, &:after {
			content: '';
		}
	}

	#shell-result-btn {
		height: 100%;
		overflow: auto;
	}

	#shell-result-table {
		padding: 0;

		.panel-body {
			min-height: 207px;
			max-height: 207px;
			overflow: auto;
		}
	}
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.term {
	font-family: 'Nanum Gothic Coding', serif;
	color: #bcbcbc;
	background: none;
}

.termReverse {
	color: #232e45;
	background: #bcbcbc;
}